@import 'styles/vars';
@import 'styles/typography';

.wrapper {
    width: 100%;
    padding: 24px;
    margin-top: 24px;
    &__container {
        margin-top: 48px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        &__title{
            font-size: 41px;
            line-height: 100%;
            font-weight: 700;
        }
        &__basket{
            margin-top: 32px;
            width: 100%;
           @extend %flex-justify-between;
           gap:40px;
           &__products{
            width: 100%;
            &__header{
                padding-bottom: 16px;
                margin-bottom: 16px;
                border-bottom: 1px solid  #959595;
                @extend %flex-justify-between,%micro-2;
            }
           }
        }
    }
}