@import 'styles/vars';
@import 'styles/colors';
@import 'styles/typography';

.wrapper {
  max-width: 448px;
  margin: auto;
  margin-top: 72px;
  padding: 0 14px;
  gap: 24px;
  @extend %flex-column;
  @media (max-width:$tablet-w) {
    margin: 240px auto;
  }

  &__title {
    color: $black;
    font-size: 41px;
    line-height: 41px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 24px;
  }

  &__link {
    text-align: center;
    color: $red;
    @extend %micro-3, %flex-justify-center;
  }

  &__frame {
    max-width: 387px;
    @extend %micro-2;

    b {
      color: $red;
    }
  }
}


.wrapper__button{
  width: 100%;
}