@import 'styles/vars';
@import 'styles/mixins';

.wrapper {
  width: 100%;
  gap: 32px;
  padding: 120px 24px 0;
  @extend %flex-column-center;

  @media (max-width: $tablet-w) {
    padding: 48px 15px 0;
  }

  &__content {
    @include cardsWrapper();
  }
}
