$white: #fff;

$red: #ab0000;
$yellow: #ffc107;

$black: #000;
$black-100: #1a1a1a;
$black-200: #21201e;
$black-300: #4c5563;
$black-400: #959595;

//colors with opacity

$opacity-1: rgba(26, 26, 26, 0.2);
