@import 'styles/vars';
@import 'styles/typography';

.wrapper {
  width: 100%;
  padding: 24px;
  padding-bottom: 324px;
  margin-top: 24px;

  &__container {
    margin-top: 48px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__title {
      font-size: 41px;
      line-height: 100%;
      font-weight: 700;

      @media (max-width: 440px) {
        font-size: 25px;
      }
    }

    &__basket {
      margin-top: 32px;
      width: 100%;
      @extend %flex-justify-between;
      gap: 40px;

      &__products {
        width: 100%;
        max-width: 720px;
        @extend %flex-column;

        &__header {
          padding-bottom: 16px;
          margin-bottom: 16px;
          @extend %flex-justify-between, %micro-2;

          p {
            text-transform: uppercase;
          }

          @media (max-width: $mobile-w) {
            padding-bottom: 0px;
          }
        }

        &__product {
          display: flex;
          padding-bottom: 16px;
          gap: 24px;
          border-bottom: 1px solid #959595;

          @media (max-width: $mobile-w) {
            gap: 12px;
          }

          &__info {
            padding: 11px 0px;

            gap: 12px;
            @extend %flex-column;

            &__title {
              font-weight: 500;
            }

            &__quantity {
              color: #959595;
              font-weight: 400;
            }

            &__price {
              font-weight: 700;
            }

            @media (max-width: $mobile-w) {
              font-size: 10px;
              gap: 4px;
              padding: 5px 0px;
            }
          }
        }

        &__stepper {
          margin-top: 32px;
          padding: 0 55px;
          display: flex;
          gap: 8px;

          &__step__1 {
            max-width: 200px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            font-weight: 500;
            color: #959595;

            &__block {
              background: #9595951a;
              padding: 12px 0px;
              border-radius: 50px;
            }

            &__block__active {
              background-color: #ab0000;
              color: white;
            }
          }

          @media (max-width: 600px) {
            padding: 0 14px;
            font-size: 10px;
          }
        }
        &__stepper__mobile {
          position: relative;
          margin-top: 32px;
          padding: 0 55px;
          max-width: 344px;
          margin-bottom: 0;
          margin: 32px auto;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          @media (max-width: 660px) {
            justify-content: center;
          }

          &__step__1 {
            width: 100%;
            min-width: 126px;
            max-width: 126px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            cursor: pointer;
            gap: 2px;
            font-weight: 500;
            color: #959595;
            &__container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &__lock {
                background-color: #959595;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
              }
              p {
                font-size: 14px;
                font-weight: 500;
              }
            }
            &__container__active {
              div {
                background: black;
              }
              p {
                color: black;
              }
            }

            &__block {
              background: #9595951a;
              padding: 12px 0px;
              border-radius: 50px;
            }

            &__block__active {
              background-color: #ab0000;
              color: white;
            }

            &__line1 {
              width: 72px;
              height: 1px;
              background: #d7d7d7;
              position: absolute;
              top: 20%;
              left: 54%;
            }
            &__line2 {
              width: 72px;
              height: 1px;
              background: #d7d7d7;
              position: absolute;
              top: 20%;
              left: 16%;
            }
          }
          &__step__3 {
            width: 100%;
            min-width: 89px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            cursor: pointer;
            gap: 2px;
            font-weight: 500;
            color: #959595;
            &__container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &__lock {
                background-color: #959595;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
              }
              p {
                font-size: 14px;
                font-weight: 500;
              }
            }
            &__container__active {
              div {
                background: black;
              }
              p {
                color: black;
              }
            }

            &__block {
              background: #9595951a;
              padding: 12px 0px;
              border-radius: 50px;
            }

            &__block__active {
              background-color: #ab0000;
              color: white;
            }

            &__line {
              width: 72px;
              height: 1px;
              background: #d7d7d7;
              position: absolute;
              top: 20%;
              right: 0;
            }
          }

          @media (max-width: 600px) {
            padding: 0 14px;
            font-size: 12px;
          }
        }

        &__stepper__container {
          margin-top: 48px;

          &__step_1 {
            &__title {
              color: #4c5563;
              font-weight: 400;
              font-size: 10px;
              margin-bottom: 24px;
            }

            &__input_block {
              position: relative;
              width: 100%;
              margin-bottom: 24px;

              input {
                outline: none;
                border-radius: 8px;
                border: 1px solid #95959580;
                padding: 16px;
                width: 100%;

                &::placeholder {
                  color: #0000000d;
                }
              }

              label {
                top: -5px;
                position: absolute;
                background: white;
                padding: 0px 6px;
                left: 16px;
                font-size: 10px;
                color: #95959580;
              }

              button {
                position: absolute;
                right: 16px;
                top: 16px;
              }
            }

            &__btn {
              margin: auto;
              margin-top: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 345px;
            }
          }

          @media (max-width: $tablet) {
            margin-top: 14px;
          }
        }
      }
    }
  }
}
